body {
  background-color: rgb(47, 228, 134);
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p,
h1 {
  color: rgb(210, 70, 182);
}
p,
img {
  font-size: 10mm;
}
